/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.list {
  align-items: baseline;
  position: relative;
  margin-bottom: 20px;
}

.button {
  padding: 1px;
  position: absolute;
  top: 40px;
}

.list-block {
  color: ;
  color: #B22222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}
body {
  background: #F2F2F2;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}
